/*
Error: Invalid CSS after "		margin": expected "{", was "}"
        on line 167 of css-dev/style.scss

162:    align-items: flex-start;
163:    justify-content: space-around;
164:    margin: 0;
165: 	.half-img {
166: 		margin
167: 	}
168: }
169: 
170: em {
171: 	color: purple;
172: }

Backtrace:
css-dev/style.scss:167
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:656:in `block'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"		margin\": expected \"{\", was \"}\"\A         on line 167 of css-dev/style.scss\A \A 162:    align-items: flex-start;\A 163:    justify-content: space-around;\A 164:    margin: 0;\A 165: 	.half-img {\A 166: 		margin\A 167: 	}\A 168: }\A 169: \A 170: em {\A 171: 	color: purple;\A 172: }"; }
