// grid & responsive layout
// -----------------------------------------------------------------

// breakpoints
$XS:                         500px !default;
$SM:                          768px !default;
$MD:                          992px !default;
$LG:                          1200px !default;

// media queries
$MQs: true !default;

$color-primary:              #cb0000;
$color-secondary:            #000000;

@import "_mixins.scss";
@import "_webfonts.scss";
@import "_grid.scss";
@import "_layout.scss";

$header-primary-color:#fff;
$header-secondary-color:purple;



.banner-container {
	h1 {
	   color: #fff;
	   font-size: 3em;

	   em {

		display: block;
	   font-size: 4em;
	   margin-top: 50px;
	   transform: skew(10deg,-5deg);
		}

	}

	img {
		width: 100%;
		height: auto;
		position: absolute;
	}

	h2 {
		color: $header-primary-color;
	}
}

em {
	color: purple;
}
