// grid & responsive layout
// -----------------------------------------------------------------

// breakpoints
$XS:                         500px !default;
$SM:                          768px !default;
$MD:                          992px !default;
$LG:                          1200px !default;

// media queries
$MQs: true !default;

$color-primary:              #cb0000;
$color-secondary:            #000000;

@import "_mixins.scss";
@import "_webfonts.scss";
@import "_grid.scss";
@import "_layout.scss";

$header-primary-color:#fff;
$header-secondary-color:purple;
$negative-margin:-60px;
$font-size-1: 30pt;
$marginer: 40px;
$marginer-2: 60px;

@font-face {
  	font-family: "Circular";
  	src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Medium.eot");
  	src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Medium.eot?#iefix") format("embedded-opentype"),
      url("https://www.bu.edu/cdn/fonts/Circular/Circular-Medium.woff") format("woff"),
      url("https://www.bu.edu/cdn/fonts/Circular/Circular-Medium.ttf") format("truetype");
  	font-style: normal;
  	font-weight: 500;
	}
@font-face {
  font-family: "TiemposText";
  src: url("https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

.container {
	width: 100%;
	max-width: 680px;
}

.banner-container {
	height: 700px;
	width: 100%;
	overflow: hidden;

	h1 {
	   color: #fff;
	   font-size: 3em;
	   position: relative;

	   em {
	   	width: 100%;
			display: block;
		   font-size: 4em;
		   margin-top: 50px;
		   transform: skew(10deg,-5deg);
		}

	}

	img {
		width: 100%;
		position: absolute;
	}

	h2 {
		color: $header-primary-color;
		position: relative;

		em {
			display: block;
			font-size: 30px;
		}
	}
	span {
		display: block;
		color: #fff;
    	position: relative;
    	margin: 0px 0px 0px 24px;
	}
}

.img-porgy {
	img {
  		width: 20%;
  		max-width: 200px;
  		min-width: 200px;
  		float: left;
  		margin-right: 20px;
	}
}

blockquote {
	width: auto;
	margin: 0 $negative-margin 25px $negative-margin;
	/*
	p {
		margin-bottom: 25px;
	}
	*/
}

.responsiveVideo {
	width: auto;
	margin: 0 $negative-margin;
	padding: 40px 0;
}

.text-box {
	padding: 25px 0;
   width: auto;
   margin: $marginer-2 $negative-margin;
   background-color: #000;
	p {
		font-family: "Circular";
		color: #fff;
	   padding: 0 30px;
	   font-size: $font-size-1;
	   line-height: 1.2;
	   margin: 0;
	}
}

figure {
	width: auto;
   margin: $marginer-2 $negative-margin;
   img {
   	width: 100%;
    	height: auto;
   }
   span {
   	font-weight: bold;
   }
}

figure.img-right {
	float: right;
	margin: 0 $negative-margin 20px 20px;
	padding: 0;
	width: 50%;
	img {
		width: 100%;
	}
}

div.text-box.sided-box {
	font-family: "Circular";
	float: right;
   width: 50%;
   margin: 0 $negative-margin 20px 20px;
   padding: 25px 0;
   p {
   color: #fff;
   padding: 0 20px;
   font-size: $font-size-1;
   line-height: 1.2;
   margin: 0;
   }
   span {
   	display: block;
   	font-size: 50%;
   	margin-top: 5px;
   }
}

figure.img-left {
	float: left;
	margin: 0 20px 20px $negative-margin;
	padding: 0;
	width: 50%;
	img {
		width: 100%;
	}
}

div.half-half figure {
	float: left;
	width: 50%;
	margin: 0;
	img {

	}
}

div.half-half {
	width: auto;
   margin: 30px $negative-margin;
   &:after {
      /* These classes are using %clearfix. */
      display: table;
      clear: both;
      content: "";
    }
	.half-img {
		float: left;
    	width: 48%;
    	margin: 20px 0 0 2%;
	}
}

em {
	color: #b077ff;
	font-style: normal;
	font-size: $font-size-1;
}

p {
	font-size: 18px;
	line-height: 1.4;
	margin: $marginer 0;
	font-family: "TiemposText";
}
