// grid & responsive layout
// -----------------------------------------------------------------

// breakpoints
$XS:                         500px !default;
$SM:                          768px !default;
$MD:                          992px !default;
$LG:                          1200px !default;

// media queries
$MQs: true !default;

$color-primary:              #cb0000;
$color-secondary:            #000000;

@import "_mixins.scss";
@import "_webfonts.scss";
@import "_grid.scss";
@import "_layout.scss";

$header-primary-color:#fff;
$header-secondary-color:purple;


section {
	width: 100%;
	padding: 20px 0;

	.text-container {
		width: 50%;
		margin: 0 auto;
	}
}
.banner-container {
	height: 600px;

	h1 {
	   color: #fff;
	   font-size: 3em;
	   position: relative;

	   em {
			display: block;
		   font-size: 4em;
		   margin-top: 50px;
		   transform: skew(10deg,-5deg);
		}

	}

	img {
		width: 100%;
		position: absolute;
	}

	h2 {
		color: $header-primary-color;
		position: relative;

		em {
			display: block;
			font-size: 30px;
		}
	}
	span {
		display: block;
		color: #fff;
    	position: relative;
    	margin: 0px 0px 0px 24px;
	}
}

.img-porgy {
	img {
  		width: 20%;
  		max-width: 200px;
  		min-width: 200px;
  		float: left;
  		margin-right: 20px;
	}
}

.responsiveVideo {
	width: 70%;
	margin: 0 auto;
}

.text-box {
	padding: 20px 0;
	width: 70%;
	margin: 20px auto;
	background-color: #000;
	p {
		color: #fff;
	   padding: 0 30px;
	   font-size: 2em;
	   line-height: 1.3;
	   margin: 0;
	}
	em {
		color: purple;
		font-style: normal;
	}
}

em {
	color: purple;
}
