// grid & responsive layout
// -----------------------------------------------------------------

// breakpoints
$XS:                         500px !default;
$SM:                          768px !default;
$MD:                          992px !default;
$LG:                          1200px !default;

// media queries
$MQs: true !default;

$color-primary:              #cb0000;
$color-secondary:            #000000;

@import "_mixins.scss";
@import "_webfonts.scss";
@import "_grid.scss";
@import "_layout.scss";

$header-primary-color:#fff;
$header-secondary-color:purple;


.container {
	width: 100%;
	max-width: 680px;
}

.banner-container {
	height: 1100px;
	width: 100%;

	h1 {
	   color: #fff;
	   font-size: 3em;
	   position: relative;

	   em {
	   	width: 100%;
			display: block;
		   font-size: 4em;
		   margin-top: 50px;
		   transform: skew(10deg,-5deg);
		}

	}

	img {
		width: 100%;
		position: absolute;
	}

	h2 {
		color: $header-primary-color;
		position: relative;

		em {
			display: block;
			font-size: 30px;
		}
	}
	span {
		display: block;
		color: #fff;
    	position: relative;
    	margin: 0px 0px 0px 24px;
	}
}

.img-porgy {
	img {
  		width: 20%;
  		max-width: 200px;
  		min-width: 200px;
  		float: left;
  		margin-right: 20px;
	}
}

blockquote {
	width: auto;
	margin: 0 -30px 25px -30px;
	p {
		margin-bottom: 25px;
	}
}

.responsiveVideo {
	width: auto;
	margin: 0 -30px;
	padding: 40px 0;
}

.text-box {
	padding: 25px 0;
   width: auto;
   margin: 20px -30px;
   background-color: #000;
   font-family: sans-serif;
	p {
		color: #fff;
	   padding: 0 30px;
	   font-size: 2em;
	   line-height: 1.3;
	   margin: 0;
	}
	em {
		color: purple;
		font-style: normal;
	}
}

figure {
	width: auto;
   margin: 0 -30px;
   padding: 40px 0;
   img {
   	width: 100%;
    	height: auto;
   }
   span {
   	font-weight: bold;
   }
}

figure.img-right {
	float: right;
	margin: 0 -30px 20px 20px;
	padding: 0;
	width: 50%;
	img {
		width: 100%;
	}
}

div.text-box.sided-box {
	float: right;
   width: 50%;
   margin: 0 -30px 20px 20px;
   padding: 25px 0;
   p {
   color: #fff;
   padding: 0 20px;
   font-size: 1.8em;
   line-height: 1.3;
   margin: 0;
   }
}

figure.img-left {
	float: left;
	margin: 0 20px 20px -30px;
	padding: 0;
	width: 50%;
	img {
		width: 100%;
	}
}

div.half-half {
	display: flex;
   align-items: baseline;
   justify-content: space-around;
	img {
		margin: 0 -30px 0 60px;
	}
}

em {
	color: purple;
}

p {
	font-size: 1.2em;
}
